 <!DOCTYPE html>
<html>
<head>
	<link href="/assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<% include partial/nav.ejs %>
<h1>Welcome to the most awesome website.</h1>
<p>Thank you for contact us!</p>
<p><strong>Person name: </strong><%=data.person %></p>
<p><strong>Department: </strong><%=data.department %></p>
<p><strong>Email: </strong><%=data.email %></p>


</body>
</html> 